<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style3.css" />
  </head>
  <body>
    <header class="header">
      <img src="cat2.webp" alt="cat" width="80" height="80" />
      <nav>
        <ul style="list-style: none">
          <li><a href="index.html">Table</a></li>
          <li><a href="index3.html">Block</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Blocks Page</h1>

      <div class="block1">
        Лиловый цвет весьма популярный оттенок розового: мягкий, нежный, и, в то
        же время, собранный и благородный. В нем скрыта природная мудрость: это
        небесные и цветочные тона, которым свойственно спокойствие, скромная
        красота.
      </div>
      <div class="block2">
        Счетание голубого цвета во многом зависят от его оттенков. На него
        влияет чистота и замутненность тона, теплая или холодная природа. Хотя
        голубой, как оттенок синего считается холодным цветом, в его спектре
        можно разделить тона на холодные и теплые: если в его составе есть хотя
        бы отголоски желтого, который придает бирюзовость тону, то цвет
        становится более теплым относительно чисто синих подтонов. Красны и
        серый, тоже придает ему некую теплоту, однако, в данном случае, — это
        движение в нейтральную сторону.
      </div>
      <div class="block3">
        Бирюза – не прозрачный голубо-зеленый или зелено-голубой камень. Она
        редко встречается и ценится за уникальный оттенок. Бирюзовый цвет
        фотоБирюзовыми цветом принято считать голубо-зеленые оттенки, такие как
        темный аквамарин, кюрасао, темные оттенки лазури, яркий сине-зеленый,
        цвет яйца дрозда и др. оттенки.
      </div>
      <div class="block4">
        Розовый цвет означает нежность, любовь и заботу. Сочетания розового
        изысканные, выразительные. Таблица сочетаний. Фото. Цвет заката,
        лепестков розы – истинно женственный тон. Его характеризуют как
        нежность, стремление к стабильности, оттенок материнства, слабости,
        наивности, не объективности восприятия мира. Это цвет всепоглощающей,
        верной любви, ласки.
      </div>
      <div class="block5">
        Изумрудный — модный цвет 2013 года. Ослепительный тон, который стал
        популярен в одежде и интерьере. Какие бывают оттенки у этого цвета? Как
        они представлены в дизайнерских коллекциях одежды на подиуме. Самый
        модный тон в индустрии красоты.
      </div>
    </main>
  </body>
</html>
