<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Home company</h1>
      <ul>
        <li class="list">
          <a href=""><b>Registration</b></a>
        </li>
        <li class="list">
          <a href=""><b>Shop</b></a>
        </li>
        <li class="list">
          <a href=""><b>Main</b></a>
        </li>
      </ul>
    </header>
    <div class="block1">
      <img src="Rectangle 2.png" alt="" />
      <h3>First</h3>
      <p>
        Load Saved Game: If you have previously saved a game, this option allows
        you to load and continue from where you left off.
      </p>
    </div>
    <div class="block2">
      <img src="Rectangle 3.png" alt="" />
      <h3>First</h3>
      <p>
        Load Saved Game: If you have previously saved a game, this option allows
        you to load and continue from where you left off.
      </p>
    </div>
    <div class="block3">
      <img src="Rectangle 4.png" alt="" />
      <h3>First</h3>
      <p>
        Load Saved Game: If you have previously saved a game, this option allows
        you to load and continue from where you left off.
      </p>
    </div>
  </body>
  <footer class="footer">
    <table class="foot">
      <tr>
        <td>address</td>
        <td>social media</td>
      </tr>
      <tr>
        <td>Abdrahmanova 88/2a</td>
        <td>home_company</td>
        <td>homeCompany_99</td>
      </tr>
    </table>
  </footer>
</html>
