<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="https://akspic.ru/album/igry" type="img" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        commodi facere quibusdam similique consectetur delectus numquam libero
        dicta maiores. Aperiam sint ipsa sequi cupiditate quia! Laboriosam
        veritatis est non repellat!
      </p>
    </div>
    <div>
      <a
        href="https://mail.google.com/mail/u/0/#inbox/FMfcgzGtvsWtBjBpjSXjjrVpXGnlCbSC"
        >Ссылка</a
      >
    </div>
    <div>
      <p class="text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam excepturi
        eligendi autem.
      </p>
    </div>
    <div>
      <p class="block">pdpd;d,fld,f;l</p>
    </div>
    <!-- <form action="">
    <label for="login">Login</label>
    <input id="login" type="text" placeholder="Введите логин" value="Name" />

    <label for="pass">Password</label>
    <input id="pass" type="password" placeholder="Введите пароль" />

    <label for="pass2">Password</label>
    <input id="pass2" placeholder="Введите потверждение пароля" />

    <label for="age">Age</label>
    <input type="number" value="0" placeholder="Введите возраст" max="100" />
    -->

    <!-- <input type="submit"> -->
    <!-- <button type="submit">Submit</button>
      <button type="button">Button</button>
      
    </form> -->
    <!-- <form action="">
      <label for="price">Price</label>
      0 <input type="range" min="0" max="10" value="3" id="price" />10

      <label for="name">Название товара</label>
      <input type="text" id="name" />

      <button type="submit">Submit</button>
      <button type="reset">Reset</button>
    </form> -->

    <!-- <form action="">
        <input type="text" placeholder="text1" autofocus>
        <input type="text" placeholder="text2" disabled>
        <input type="text" placeholder="text3">
        <input type="text" placeholder="text4">
    </form> -->
    <!-- <form action="">
      <label for="1">Iphon</lable>
      <input id="1" type="checkbox"/>

      <label for="2">Redmi</lable>
        <input id="2" type="checkbox"/>

        <label for="3">Nokia</lable>
            <input id="3" type="checkbox"/>

            <label for="4">Xiaomi</lable>
                <input id="4" type="checkbox"/>
    
    </form> -->
    <!-- <form action="">
      <input
        type="image"
        src="https://i.pinimg.com/originals/8a/de/fe/8adefe5af862b4f9cec286c6ee4722cb.jpg"
        width="300"
      />

    </form> -->

    <!-- <form action="">
      <input type="email" />
      <input type="password" />

      <input type="submit" />
      <input type="reset" /> 
    </form> -->
  </body>
</html>
