@import "./reset.css";

font-face {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#header {
  width: 493px;
  height: 75px;
  border-radius: 20px;
  background-color: #eef2d1;
  margin-top: 30px;
  margin-left: 30px;
}

#header-ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  font-family: Inter;
  font-style: normal;
  font-size: 22px;
  flex: 1;
  text-align: center;
  position: relative;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  top: 20px;
}

a {
  position: relative;
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}

.container_basket_clear {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
h1 {
  margin: 0;
  font-size: 32px;
  text-align: center;
  flex: 1;
}
#btn_clear_basket {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#ul_basket {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 35px 25px 55px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content {
  margin-top: 10px;
  margin-bottom: 10px;
}
img {
  width: 180px;
  height: 180px;
  border-radius: 20px;
}
h2 {
  font-size: 18px;
  text-align: center;
}
p {
  font-size: 14px;
  margin-top: 15px;
}
button.button_delete {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  margin-left: auto;
}
button {
  cursor: pointer;
}
