<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Незаменимые аминокислоты</title>
    <style>
      b {
        color: blueviolet;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <ol start="1" type="1">
      <li>
        <b> Валин </b>
        <i>
          - как естественный анаболик валин обладает стимулирующим действием,
          необходим для поддержания нормального обмена в мышцах, головном и
          спинном мозге, нормальном течение регенерации и поддержании азотистого
          баланса в организме. Используется мышцами в качестве источника
          энергии. Улучшает мышечную координацию и понижает чувствительность
          организма к боли, тепловому и холодовому воздействию, поддерживает
          уровень серотонина в организме</i
        >
      </li>
      <li>
        <b> Изолейцин</b>
        <cite>
          - активирует синтез мышечного белка по механизму mTOR. В свете этого
          фактора используется в косметологии для регенерации старой кожи.
          Повышенная потребность в изолейцине наблюдается у грудных детей. Также
          потребность увеличивается после потери крови, ожогов, растяжении и
          прочих процессов, сопровождаемых регенерацией тканей.
        </cite>
      </li>
      <li>
        <b> Лейцин </b>
        <cite>
          - из всех питательных веществ единственная аминокислота лейцин
          обладает наиболее выраженными анаболическими характеристиками,
          выступая в качестве триггерного элемента для инициации синтеза белка.
          Было обнаружено, что в качестве пищевой добавки лейцин замедляет
          деградацию мышечной ткани за счёт увеличения синтеза мышечных белков у
          старых крыс[2]. Однако результаты сравнительных исследований
          противоречивы. Длительный прием лейцина не увеличивает мышечную массу
          или силу у здоровых пожилых мужчин.
        </cite>
      </li>
      <li>
        <b> Лизин </b>
        <i>
          - исследования, проведённые на животных, показали, что недостаток
          лизина вызывает иммунодефицитные состояния. Лизин понижает уровень
          триглицеридов в сыворотке крови. Лизин в сочетании с пролином и
          витамином С предупреждает образование липопротеинов, вызывающих
          закупорку артерий.
        </i>
      </li>
      <li>
        <b> Метионин </b>
        <i>
          - фармакологический препарат метионина оказывает некоторое липотропное
          действие, повышает синтез холина, лецитина и других фосфолипидов, в
          некоторой степени способствует снижению содержания холестерина в крови
          и улучшению соотношения фосфолипиды/холестерин, уменьшению отложения
          нейтрального жира в печени и улучшению функции печени, может оказывать
          умеренное антидепрессивное действие (по-видимому, за счёт влияния на
          биосинтез адреналина).</i
        >
      </li>
      <li>
        <b> Треонин </b>
        <i>
          - регулирует нейропередачу в головном мозге и помогает бороться с
          депрессией. Дополнительный приём увеличивает умственную
          работоспособность, подавляет патологическое влечение к алкоголю,
          купирует алкогольный абстинентный синдром.Треонин необходим для
          увеличения массы скелетных мышц, входит в состав ряда пищеварительных
          ферментов и иммунных белков, играет важную роль в синтезе пуринов и
          глицина, служит источником энергии, регулирует пищевое поведение.
        </i>
      </li>
      <li>
        <b> Триптофан </b>
        <i>
          - при его недостатке наблюдаются редкие заболевания. К, примеру
          Семейная гипертриптофанемия — редкое аутосомно-рецессивное
          наследственное заболевание, нарушение обмена веществ, которое приводит
          к накоплению триптофана в крови и выведению его с мочой
          (триптофанурия).Индиканурия — повышенное содержание в моче индикана.
          Причиной может являться непроходимость кишечника, из-за чего в нём
          начинают усиленно протекать гнилостные процессы.</i
        >
      </li>
      <li>
        <b> Фенилаланин </b>
        <i>
          - в промышленных масштабах получают микробиологическим способом[11].
          Возможен также химический синтез (синтез Эрленмейера из бензальдегида,
          синтез Штрекера из фенилацетальдегида) с последующим разделением
          рацемической смеси при помощи ферментов[12]. Используют фенилаланин
          для сбалансирования кормов для животных, как компонент спортивного
          питания, как пищевая добавка. Значительная часть фенилаланина идёт на
          производство дипептида аспартама — синтетического сахарозаменителя,
          активно использующегося в пищевой промышленности, чаще в производстве
          жевательной резинки и газированных напитков. Употребление таких
          продуктов противопоказано лицам, страдающим фенилкетонурией.
        </i>
      </li>
      <a
        href="https://ru.wikipedia.org/wiki/%D0%90%D0%BC%D0%B8%D0%BD%D0%BE%D0%BA%D0%B8%D1%81%D0%BB%D0%BE%D1%82%D1%8B"
      >
        Узнать больше
      </a>
    </ol>

    <ul type="circle">
      <li>
        Валин
        <i>
          - как естественный анаболик валин обладает стимулирующим действием,
          необходим для поддержания нормального обмена в мышцах, головном и
          спинном мозге, нормальном течение регенерации и поддержании азотистого
          баланса в организме. Используется мышцами в качестве источника
          энергии. Улучшает мышечную координацию и понижает чувствительность
          организма к боли, тепловому и холодовому воздействию, поддерживает
          уровень серотонина в организме</i
        >
      </li>
      <li>
        Изолейцин
        <cite>
          - активирует синтез мышечного белка по механизму mTOR. В свете этого
          фактора используется в косметологии для регенерации старой кожи.
          Повышенная потребность в изолейцине наблюдается у грудных детей. Также
          потребность увеличивается после потери крови, ожогов, растяжении и
          прочих процессов, сопровождаемых регенерацией тканей.
        </cite>
      </li>
      <li>
        Лейцин
        <cite>
          - из всех питательных веществ единственная аминокислота лейцин
          обладает наиболее выраженными анаболическими характеристиками,
          выступая в качестве триггерного элемента для инициации синтеза белка.
          Было обнаружено, что в качестве пищевой добавки лейцин замедляет
          деградацию мышечной ткани за счёт увеличения синтеза мышечных белков у
          старых крыс[2]. Однако результаты сравнительных исследований
          противоречивы. Длительный прием лейцина не увеличивает мышечную массу
          или силу у здоровых пожилых мужчин.
        </cite>
      </li>
      <li>
        Лизин
        <i>
          - исследования, проведённые на животных, показали, что недостаток
          лизина вызывает иммунодефицитные состояния. Лизин понижает уровень
          триглицеридов в сыворотке крови. Лизин в сочетании с пролином и
          витамином С предупреждает образование липопротеинов, вызывающих
          закупорку артерий.
        </i>
      </li>
      <li>
        Метионин
        <i>
          - фармакологический препарат метионина оказывает некоторое липотропное
          действие, повышает синтез холина, лецитина и других фосфолипидов, в
          некоторой степени способствует снижению содержания холестерина в крови
          и улучшению соотношения фосфолипиды/холестерин, уменьшению отложения
          нейтрального жира в печени и улучшению функции печени, может оказывать
          умеренное антидепрессивное действие (по-видимому, за счёт влияния на
          биосинтез адреналина).</i
        >
      </li>
      <li>
        Треонин
        <i>
          - регулирует нейропередачу в головном мозге и помогает бороться с
          депрессией. Дополнительный приём увеличивает умственную
          работоспособность, подавляет патологическое влечение к алкоголю,
          купирует алкогольный абстинентный синдром.Треонин необходим для
          увеличения массы скелетных мышц, входит в состав ряда пищеварительных
          ферментов и иммунных белков, играет важную роль в синтезе пуринов и
          глицина, служит источником энергии, регулирует пищевое поведение.
        </i>
      </li>
      <li>
        Триптофан
        <i>
          - при его недостатке наблюдаются редкие заболевания. К, примеру
          Семейная гипертриптофанемия — редкое аутосомно-рецессивное
          наследственное заболевание, нарушение обмена веществ, которое приводит
          к накоплению триптофана в крови и выведению его с мочой
          (триптофанурия).Индиканурия — повышенное содержание в моче индикана.
          Причиной может являться непроходимость кишечника, из-за чего в нём
          начинают усиленно протекать гнилостные процессы.</i
        >
      </li>
      <li>
        Фенилаланин
        <i>
          - в промышленных масштабах получают микробиологическим способом[11].
          Возможен также химический синтез (синтез Эрленмейера из бензальдегида,
          синтез Штрекера из фенилацетальдегида) с последующим разделением
          рацемической смеси при помощи ферментов[12]. Используют фенилаланин
          для сбалансирования кормов для животных, как компонент спортивного
          питания, как пищевая добавка. Значительная часть фенилаланина идёт на
          производство дипептида аспартама — синтетического сахарозаменителя,
          активно использующегося в пищевой промышленности, чаще в производстве
          жевательной резинки и газированных напитков. Употребление таких
          продуктов противопоказано лицам, страдающим фенилкетонурией.
        </i>
      </li>
    </ul>
    <a href="index 2.html">Back</a>
  </body>
</html>
