<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My page </title>
    <style>
        b {
            color: white;
        }
        .container {
            align-items: center; 
            text-align: center;
        }
    </style>
</head>
<body> 
    <div class="container">
        <img src="https://avatars.mds.yandex.net/i?id=8d8d27f17f55150bd8d1117b9e55304bdfa01f99-6431583-images-thumbs&n=13" class="rounded mx-auto d-block" title="Luffy" alt="google foto">
        <h1 style="background-color:#FF5733;"> <b> Luffy </b> </h1>
        <p> Luffy is the future king of pirates </p> 
        <p>Luffy is the captain of the Straw Hat Pirates. He ate the Devil's Rubber-Rubber Fruit, which made him a "rubber man" and, as a consequence, his body gained the ability to stretch. His main goal is to cross the Grand Line ocean current, find the Van Pis treasure left behind by the Pirate King, Gol D. Roger, and become the Pirate King.</p>
    </div>
    <div class="container">
        <img src="https://papik.pro/grafic/uploads/posts/2023-04/thumbs/1681283689_papik-pro-p-plakat-one-piece-42.jpg" width="200px" height="300px" title="Ace" alt="google foto">
        <h2 style="background-color:#FF5733;"> <b> Ace </b> </h2>
        <p> Luffy's late brother, Ace's fiery fist </p> 
        <p>Portgas D. Ace (born Gol D. Ace) was the adopted older brother of Monkey D. Luffy and Sabo, and the son of the Pirate King, Gol D. Roger and his mistress, Portgas D. Rouge (both deceased). His guardian was Monkey D. Harp, as Roger requested, even before his son was born. Ace was captain of the Peak Pirates, and after that became commander of the 2nd Belous Pirate Division.</p>
    </div>
    <div class="container">
        <img src="https://avatars.mds.yandex.net/i?id=4b3138d8317bf4f82a5199affe84972de170e2a2-8178604-images-thumbs&n=13" width="200px" height="300px" title="Sabo" alt="google foto">
        <h3 style="background-color:#FF5733;"> <b>Sabo</b> </h3>
        <p> Luffy's older brother who is still alive </p> A little boy who was born into a noble family, but decided to run away and live in Grey Terminal, only to end up traveling the sea on his own. Twelve years before the events of the present, Sabo was a childhood friend of Ace and Luffy. So close that the three of them considered themselves brothers. Like Ace and Luffy, Sabo's dream was to become a pirate to set sail and achieve freedom. He and his brothers hatched a plan to go on a voyage when they were seventeen years old. However, Sabo decided to go before Ace and Luffy did, and his boat was later destroyed by the Sky Dragon.Was pronounced dead in the incident, but it turned out he survived and joined the revolutionaries. He is currently the chief of staff of the Revolutionary Army.</p>
        <a href="https://onepiece.fandom.com/ru/wiki/%D0%9C%D0%BE%D0%BD%D0%BA%D0%B8_%D0%94._%D0%9B%D1%83%D1%84%D1%84%D0%B8" target="self" title="click me"> ONE PIECE</a>
        <a href="index 2.html">Next</a>
    </div>
</body>
</html>