<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Классика</title>
    <style>
      body {
        display: flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div>
      <table border="1" width="400px">
        <thead>
          <tr>
            <th>Название</th>
            <th>Автор</th>
          </tr>
        </thead>
        <tbody align="center">
          <tr>
            <td>
              "Война и мир"
              <i
                >роман-эпопея Льва Николаевича Толстого, описывающий русское
                общество в эпоху войн против Наполеона в 1805—1812 годах. Эпилог
                романа доводит повествование до 1820 года.</i
              >
            </td>
            <td>Лев Толстой</td>
          </tr>
          <tr>
            <td>
              "1984"<i>
                роман-антиутопия Джорджа Оруэлла, изданный в 1949 году. Как
                отмечает членкор РАН М. Ф. Черныш, это самое главное и последнее
                произведение писателя.</i
              >
            </td>
            <td>Джордж Оруэлл</td>
          </tr>
          <tr>
            <td>
              "Гордость и предубеждение"
              <i
                >- это история человеческих душ, остроумно, легко и изящно
                рассказанная знаменитой английской писательницей Джейн Остин.
                Выдержав испытание несколькими эпохами, роман остается одним из
                лучших в мировой классике.</i
              >
            </td>
            <td>Джейн Остен</td>
          </tr>
          <tr>
            <td>
              "Отдельная реальность"
              <i
                >вторая книга Карлоса Кастанеды, опубликованная издательством
                Simon & Schuster в 1971 году. В книге описывается продолжение
                ученичества Кастанеды (с 1968 по 1971 год) у дона Хуана,
                мексиканского шамана из племени яки. По утверждениям Кастанеды
                книга является описанием реальных событий, однако этот факт
                ставится под сомнение некоторыми читателями.</i
              >
            </td>
            <td>Карлос Кастанеда</td>
          </tr>
        </tbody>
      </table>
      <a
        href="https://eksmo.ru/selections/100-luchshikh-knig-po-versii-polzovateley-goodreads-ID1742548/"
      >
        100 книг, которые должен прочесть каждый</a
      >
    </div>
    <a href="index.html">Back</a>
    <a href="index3.html">Next</a>
  </body>
</html>
