<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LSN-6</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <!-- <div class="block">Block</div>
    <div class="transform">Block</div> -->
    <!-- <div class="header">Header</div>
    <div class="conteiner">Conteiner</div> -->

    <!-- <div class="transition">
      Transition
      <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div> -->

    <!-- <div class="animation">Lorem ipsum dolor sit amet.</div> -->
    <!-- <form action="">
      <div>
        <input type="checkbox" checked />
        <input type="checkbox" />
        <input type="checkbox" />
      </div>
      <div>
        <h2>Укажите свой пол</h2>
        <label for="1">Мужской</label>
        <input id="1" type="radio" value="Man" name="gender" checked />

        <label for="2">Женский</label>
        <input id="2" type="radio" value="Girl" name="gender" />

        <label for="3">Не определяется</label>
        <input id="3" type="radio" value="Girl" name="gender" />
      </div>

      <div>
        <label for="color">color</label>
        <input id="color" type="color" />
      </div> -->

      <!-- <div>
        <label for="url">URL</label>
        <input id="url" type="url" required />
      </div>
      <button>Submit</button> -->
      <!-- <div>
        <label for="">Data</label>
        <input type="date" />

        <label for="">Week</label>
        <input type="week" />

        <label for="">Datetime-local</label>
        <input type="datetime-local" />

        <label for="">Month</label>
        <input type="month" />

        <label for="">Time</label>
        <input type="time" />
      </div>
      <div>
        <label for="">Phone</label>
        <input type="tel" placeholder="(XXX)XXX-XXX-XXX" required />
      </div> -->

      <!-- <div>
        <h4>Отправка файлов</h4>
        <label for="">Выбрать файл</label>
        <input type="file" multiple accept="image/png">
      </div> -->

      <div>
        <h3>Выберите город</h3>
        <label for="city">город</label>
        <select id="city">
            <option disabled selected>Выберите город</option>
            <option value="">Бишкек</option>
            <option value="">Алма ата</option>
            <option value="">Татарстан</option>
            <option value="">Кипр</option>
        </select>
      </div>

      <div>
        <h3>Напишите сообщение</h3>
        <label for="comment">Комментарий</label>
        <textarea name="" id="comment" cols="50" rows="10"></textarea>
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
