<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <img src="Yandex Taxi.svg" alt="logo" />
      </div>

      <div class="navigation">
        <nav>
          <ul>
            <li><a href="">My Orders</a></li>
            <li><a href="">Delivery</a></li>
            <li><a href="">My Profile</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="main">
      <img
        src="https://images.unsplash.com/photo-1499353965760-b85389474bef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80"
        alt=""
        class="img-main"
      />
    </div>
    <div class="main">
      <div class="text">
        <p class="text-1">
          Yandex.Taxi is one of Yandex's independent business units that offers
          taxi aggregator, food and grocery delivery services, as well as mobile
          applications for them. The company's headquarters is located in
          Moscow.
        </p>
      </div>
      <div class="main2">
        <img
          src="https://images.unsplash.com/photo-1471174617910-3e9c04f58ff5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
          alt=""
          class="img-1"
        />
      </div>
      <div class="main2_img">
        <img
          src="https://images.unsplash.com/photo-1549927681-0b673b8243ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
          alt=""
          class="img-2"
        />

        <img
          src="https://images.unsplash.com/photo-1595521488367-9b130f86bbe3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1288&q=80"
          alt=""
          class="img-2"
        />
      </div>
    </div>
    <div class="bottom-text-container">
      <div class="bottom-text">
        <p class="text-2">
          With us you will get safety, speed and, most importantly, trust!
          Rather download the app and enjoy the first ride.
        </p>
      </div>
    </div>
    <div class="button">
      <button>About us more</button>
    </div>
    <div class="footer">
      <div class="footer-left">
        <h4>Connect with us</h4>
        <h6>+7 455 552 6172 21</h6>
        <h6>yandex@mail.com</h6>
        <h6>taxiAlways</h6>
      </div>
      <div class="footer-right">
        <h4>About us more</h4>
        <h6>https://taxi.yandex.com/ru_kg/</h6>
        <h6>St. Levskoe 94/a</h6>
      </div>
    </div>
  </body>
</html>
