<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- <div>Lorem, ipsum.</div>
    <p>Lorem, ipsum.</p>
    <a href="">Lorem, ipsum dolor.</a> -->
    <!-- <div>Lorem ipsum dolor sit amet consectetur.</div>
    <div class="text">Lorem ipsum dolor sit amet.</div>
    <div>Lorem, ipsum dolor.</div> -->
    <!-- <nav>
      <ul>
        <li>Главная</li>
        <li>Магазин</li>
        <li>Контакты</li>
        <li>Регистрация</li>
        <li>О нас</li>
      </ul>
    </nav> -->
    <!-- <header>
      <div class="conteiner">
        <h2>Главная</h2>
        <nav>
          <ul>
            <li>
              <a href="">Главная</a>
            </li>
            <li>
              <a href="">Магазин</a>
            </li>
            <li>
              <a href="">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </header> -->

    <!-- <main>
      <div class="conteiner">
        <section>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </section>
        <section>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </section>
        <section>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </section>
        <section>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </section>
        <section>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </section>
        <section>
          <h3>Lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </section>
      </div>
    </main> -->
    <!-- <div class="block-conteiner">
      <div class="block1">Lorem, ipsum.</div>
      <div class="block2">Lorem, ipsum</div>
      <div class="block3">Lorem, ipsum</div>
      <div class="block4">Lorem, ipsum</div>
    </div> -->
    <div class="parrent">
      <div class="child">Lorem ipsum dolor sit.</div>
    </div>

    <footer>
      <div class="conteiner">
        <address>Lorem, ipsum.</address>
      </div>
    </footer>
  </body>
</html>
