<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="item header">
        <div class="logo">Yandex Taxi</div>
        <div class="navigation">
          <nav>
            <ul>
              <li>My Orders</li>
              <li>Delivery</li>
              <li>My Profile</li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="section-1">
        <img src="" alt="" class="img section-1" />
      </div>
      <div class="section-2">
        <div class="text section-2">
          <p>
            Yandex.Taxi is one of Yandex's independent business units that
            offers taxi aggregator, food and grocery delivery services, as well
            as mobile applications for them. The company's headquarters is
            located in Moscow.
          </p>
        </div>
        <div class="img-1 section-2">
          <img src="" alt="" />
        </div>
        <div class="img-2-3 section-2">
          <img src="" alt="" />
          <img src="" alt="" />
        </div>
      </div>
      <div class="section-3">
        <p></p>
      </div>
      <div class="footer">
        <div>
          <h4></h4>
          <h6></h6>
          <h6></h6>
          <h6></h6>
        </div>
        <div>
          <h4></h4>
          <h6></h6>
          <h6></h6>
        </div>
      </div>
    </div>
  </body>
</html>
